<div class="show-list-container">
    <div class="js-list-grid"></div>
</div>
<div>
    <input type="text" class="input-book-name" placeholder="请输入书名" style="width:490px">
    <input type="text" class="input-category" placeholder="请输入类别代码" style="width:490px">
    <input type="text" class="input-remain-number" placeholder="请输入数量" style="width:490px">
    <button type="button" id="add-book">添加</button>
</div>
<div>
    <input type="text" class="del-book-id" placeholder="请输入要删除的书籍ID" style="width:490px">
    <button type="button" id="del-book">删除</button>
</div>
<div>
    <input type="text" class="update-book-id" placeholder="请输入书籍ID" style="width:490px">
    <input type="text" class="update-number" placeholder="请输入数量" style="width:490px">
    <button type="button" id="update-num">更新</button>
</div>
